
.table-view {
    -fx-background-color: transparent;
    -fx-focus-traversable: false;
}

.table-view .scroll-pane:horizontal {
    visibility: hidden;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-pref-height: 50;
    -fx-font-family: "Raleway ExtraBold";
    -fx-text-background-color: #5bacad;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0.3;
    -fx-border-width: 0 0 0.3 0;
    -fx-padding: 2 10 2 10px;

}

.table-row-cell {
    -fx-font-family: "Raleway";
    -fx-font-size: 12px;
    -fx-text-background-color: #333333;
    -fx-padding: 2 0 2 0;
}

.table-view .table-row-cell:hover{
    -fx-background-color: #ddefef;
}


.table-view .table-cell{
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0.1;
    -fx-min-height: 30;
    -fx-font-family: Roboto;
    -fx-padding: 2 5 2 5px;
    -fx-border-width: 0 0 0.3 0;
    -fx-alignment: center;
    -fx-wrap-text: true;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #d9d9d9;
}



.anchor-pane {
    -fx-background-color: white;
    -fx-border-color: #c5c5c5;
}
